
@media (min-width: 1200px) {
  .morning-evening-container {
    margin-left: 400px;
    margin-right: 400px;
  }
}

@media (min-width: 1600px) {
  .morning-evening-container {
    margin-left: 800px;
    margin-right: 800px;
  }
}




.morning-evening-container{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  margin-left: clamp(20px, 5vw, 100px); /* Reduced values */
  margin-right: clamp(20px, 5vw, 100px); /* Reduced values */
}

.morning-box,.evening-box{
  height: 116px;
  background-color: var(--box-bg-color);
  border-radius: 16px;
  box-shadow: var(--box-bg-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.morning-setvalue-section,
.evening-setvalue-section{
  border-top: 1px dotted var(--dotted-line-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 14px;
  margin-top: 4px;
}

.setvalue-header{
  font-size: 12px;
  font-weight: 500;
  color: var(--result-time-text-color);
  margin-bottom: 10px;
}

.morning-set,.morning-value,.morning-result,
.evening-set,.evening-value,.evening-result{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.morning-result-time,.evening-result-time{
  color: var(--result-time-text-color);
  font-size: 26px;
  margin-top: 0px;
  font-weight: 500;
}

.morning-set-result,.morning-value-result,
.evening-set-result,.evening-value-result{
  color: var(--setvalue-text-color);
  font-weight: 700;
  font-size: 21px;
}

.morning-result-digit,.evening-result-digit{
  color: var(--result-digit-color);
  font-size: 21px;
  font-weight: 700;
}
.js-morning-set-result,
.js-morning-value-result,
.js-morning-result-digit {
  transition: opacity 0.3s ease-in-out; /* Smooth fade effect */
}


.modern-internet-container{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  margin-left: clamp(20px, 5vw, 100px); /* Reduced values */
  margin-right: clamp(20px, 5vw, 100px); /* Reduced values */
  border-top: 1px solid gray;
}
.nine-thirty-o-clock{
  margin-top: 20px;
}
.nine-thirty-o-clock,.two-o-clock{
  height: 70px;
  background-color: var(--box-bg-color);
  border-radius: 12px;
  box-shadow: var(--box-bg-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.nine-thirty-o-clock,.two-o-clock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mordern-internet-inner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modern-internet-time{
  color: var(--result-time-text-color);
  font-size: 26px;
  margin-top: 0px;
  font-weight: 500;
}

.modern-internet-mini-header{
  font-size: 12px;
  font-weight: 500;
  color: var(--result-time-text-color);
  margin-bottom: 10px;
}

.nine-thirty-mordern-result,
.nine-thirty-internet-result,
.two-o-clock-mordern-result,
.two-o-clock-internet-result,
.nine-thirty-mordern-result-main-page,
.nine-thirty-internet-result-main-page,
.two-o-clock-mordern-result-main-page,
.two-o-clock-internet-result-main-page
{
  color: var(--result-digit-color);
  font-size: 21px;
  font-weight: 700;
}