.container-warapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, auto));
  row-gap: 16px;
  column-gap: 10px;
  margin-left: clamp(20px, 5vw, 100px); /* Reduced values */
  margin-right: clamp(20px, 5vw, 100px); /* Reduced values */
  margin-bottom: 30px;
}

.lotto-wrapper{
  margin-top: 40px;
  min-height: 600px;
}
.year-title{
  color: var(--text-color);
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 
               2px 2px 3px rgba(0, 0, 0, 0.15); 
  font-weight: 700;
  width: fit-content; /* Adjust width based on content */
  margin: 0 auto; /* Centers the element */
  margin-bottom: 14px;
}

.lotto-container{
  height: 100px;
  background-color: var(--box-bg-color);
  border-radius: 12px;
  box-shadow: var(--box-bg-shadow);
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.myan-3d,.thai-lotto,.lotto-draw-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lotto-month,
.lotto-day {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  text-align: center;
}

.lotto-inner-header{
  font-size: 12px;
  font-weight: 500;
  color: var(--result-time-text-color);
  margin-bottom: 6px;
}

.myan-3d-num,.thai-lotto-num{
  color: var(--text-color);
  font-size: 22px;
  font-weight: 700;
}

.thai-lotto-num0,.myan-3d-num0 {
  color: var(--tb-digit-color);
}