.title-vw-date-header {
  text-align: center;
  padding: 16px 20px;
  background-color: var(--result-month-container);
  color: var(--main-num-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-radius: 16px;
  /* Center horizontally */
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -20px;
  box-shadow: var(--box-bg-shadow);
  margin-top: 38px;
}


.title-view-panel{
  margin-top: -10px;
}

.modern-internet-container{
  margin-bottom: 100px;
}